{% extends 'cis/ajax-base.html' %}

{%block title %}Update Status{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<script>
    jQuery(document).ready(function($) {
        {% if record %}
        $("input.delete").on("click", function() {
            if(!confirm("Are you sure you want to permanently delete this record and all associated data?"))
                return;
            
                $.ajax({
                type: 'GET',
                url: "{% url 'invoice:delete_line_item' record.id%}",
                success: function (response) {
                    $.unblockUI();
                    swal({
                        title: 'Success',
                        text: response.message,
                        icon: response.status
                    }).then(
                        (value) => {
                            window.parent.closeBulkActionModal()
                            window.parent.refreshTable();
                        }
                    )
                }
            });
        });
        {% endif %}
    });
</script>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <div class="card-text">
            <div class="form_status">
                {% if messages %}
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            {{message|safe}}
            
            {{form.media}}
            <form action="{%url 'invoice:bulk_action' %}" method="post" class="frm_bulk_action" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                {% if allow_delete %}
                <input type="button" value="Delete" class="btn btn-danger btn-sm delete float-right pull-right">
                {% endif %}
            </form>
        </div>
    </div> 
</div> <!-- end card -->


{% endblock %}