{% extends "cis/logged-base.html" %}
{%block title %}{{page_title}}{% endblock %}

{% load templatehelpers %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{ page_title }}&nbsp;
                    <div class="dropdown d-inline">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Add New
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item collapsed" data-toggle="collapse" href="#addNewItem"
                          role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i
                              class="fa fa-plus"></i>&nbsp;Create From Event</a>
                          <a class="dropdown-item collapsed" data-toggle="collapse" href="#addNewItem_Registrations"
                          role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i
                              class="fa fa-plus"></i>&nbsp;Create From Registrations</a>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">

                <div class="collapse multi-collapse" id="addNewItem_Registrations">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Create From Registration</h4>

                            {{ import_from_registrations.media }}
                            <div class="row">
                                <div class="col-8">

                                    <form action="" method="post" class="frm_ajax" id="frm_add_new_item">
                                        <div id="frm_add_new_item">
                                            {% csrf_token %}
                                            {{ import_from_registrations | crispy }}
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-sm" value="Create Invoice(s) &raquo;">
                                    </form>

                                </div>

                                <div class="col-4">
                                    <table class="table d-none" id="event_details" >
                                        <tr>
                                            <td><h3>Total Attended</h3></td>
                                            <td>
                                                <h3 id="event_info">< Select Event > </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>High School(s)</td>
                                            <td><div id="highschool_info"></div></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="collapse multi-collapse" id="addNewItem">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Create From Event</h4>

                            {{ import_from_event.media }}
                            <div class="row">
                                <div class="col-8">

                                    <form action="" method="post" class="frm_ajax" id="frm_add_new_item">
                                        <div id="frm_add_new_item">
                                            {% csrf_token %}
                                            {{ import_from_event | crispy }}
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-sm" value="Create Invoice(s) &raquo;">
                                    </form>

                                </div>

                                <div class="col-4">
                                    <table class="table d-none" id="event_details" >
                                        <tr>
                                            <td><h3>Total Attended</h3></td>
                                            <td>
                                                <h3 id="event_info">< Select Event > </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>High School(s)</td>
                                            <td><div id="highschool_info"></div></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="table-responsive">
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#all">All</a>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link" data-toggle="tab" href="#archived">Archived</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="all">
                        <div class="bg-white border border-top-0">
                            <div class="col-12 pt-3 mb-3">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="card">
                                            <div class="card-body bg-gray-200">
                                                <form id="class_section_filter" class="form-inline filter">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="float-right">
                                                                <select class="form-control mt-2" name="term">
                                                                    <option value="">By Term</option>
                                                                    {% for c in terms %}
                                                                    <option value="{{c.code}}">{{c.label}} {{c.year}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <input name="btn_search" id="id_btn_filter"
                                                                    type="button" value="Filter & Get Results"
                                                                    class="btn btn-primary">
                                                                    <input name="btn_clear" id="id_btn_clear"
                                                                    type="reset" value="Clear"
                                                                    class="btn btn-info">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table id="records_all" class="table dataTable table-striped responsive"
                                    style="width:100%" data-server-side="true" data-ajax="{{api_url}}">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th data-data="term.label" searchable="1" data-name="term.label">Term
                                            </th>
                                            <th data-data="due_date" searchable="1" data-name="due_date">Due Date
                                            </th>
                                            <th data-data="number" searchable="1" data-name="number">Number</th>
                                            <th data-data="highschool.name" searchable="1" data-name="highschool.name">High School
                                            </th>
                                            <th data-data="status" searchable="1" data-name="status">Status
                                            </th>
                                            <th data-data="formatted_amount" searchable="1" data-name="total_amount">Total Amount
                                            </th>
                                            <th data-data="id" data-name='id'><span class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <th></th>
                                        <th>Term</th>
                                        <th></th>
                                        <th>Invoice #</th>
                                        <th>High School</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end tab # records_active -->

                </div>
                <!-- end tab-content -->

        <script>

            var record_event_info = "{% url 'invoice:event_info' %}";
            var record_bulk_action = "{% url 'invoice:bulk_action' %}";
            
            var table;
            var baseURL = '{{api_url}}';
            
        </script>
        <script src="{% static 'js/invoices.js' %}"></script>
            </div>
        </div>

</main>

{% endblock %}