{% extends "cis/logged-base.html" %}
{%block title %}{{ page_title }}{% endblock %}

{% load templatehelpers %}
{% load static %}

{% load crispy_forms_tags %}

{% block body %}
<main>

    <div class="row">
        
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='/ce/invoices/' >All Invoices</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Invoice</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
                <div class="float-right">
                <div class="btn-group btn-group-sm float-right mb-3" role="group" aria-label="">
                    <a class="btn btn-primary" href="{% url 'invoice:as_pdf' record.id %}"><i class="fa fa-download"></i>&nbsp;Download PDF</a> 
                    <a class="btn btn-info" onClick="do_action('send_email', '{{record.id}}')" href="#"><i class="fa fa-envelope"></i>&nbsp;Send Email</a> 
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#line_items">Line Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#notes">Notes</a>
                </li>
            </ul>

            {% if messages %}
            <ul class="messages list-group m-2">
                {% for message in messages %}
                <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>
                    {{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

            <!-- Tab panes -->
            <div class="tab-content">
                
                <div class="tab-pane" id="notes">                    
                    <div class="row">
                        <div class="col-12 bg-gray-100">
                            <div class="card mb-4 border-top-0">
                                <div class="card-body ">
                                    <div class="text-right">
                                        <a href="#notes" onClick="do_action('add_new_note', '{{record.id}}')" class="btn btn-sm btn-primary ajax-add_new"
                                            ><i
                                                class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Note</a>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="table-responsive">
                                        <table style="width: 100%;" id="record_notes" class="table table-striped responsive"
                                            style="width:100%" data-server-side="true" data-ajax="{{notes_api_url}}">
                                            <thead>
                                                <tr>
                                                    <th data-data="createdon" data-name="createdon">Added On
                                                    </th>
                                                    <th data-data="note" data-name="note">Note
                                                    </th>
                                                    <th data-data="createdby.last_name" data-name="createdby.last_name">
                                                        Added By
                                                    </th>
                                                    <th data-data="id" data-name="id"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div> <!-- end table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end #notes -->

                <div class="tab-pane" id="line_items">
                    <div class="card border-top-0">
                        <div class="card-body">
                            <table id="records_all" class="table dataTable table-striped responsive"
                                    style="width:100%" data-server-side="true" data-ajax="{{api_url}}">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th data-data="weight" data-name="weight">Weight
                                            </th>
                                            <th data-data="description" data-name="description">Description
                                            </th>
                                            <th data-data="formatted_amount" searchable="1" data-name="amount">Amount
                                            </th>
                                            <th data-data="id" data-name='id'><span class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <th></th>
                                        <th></th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tfoot>
                                </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="details">
                    <div class="bg-white border border-top-0">
                        <div class="col-12 pt-3 mb-3">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        {{form.media}}
                                        <form action="" method="post" class="frm_ajax">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                            <input type="submit" class="btn btn-primary btn-sm" value="Update">&nbsp;
                                            
                                            <input type="button" value="Delete" class="btn btn-danger btn-sm delete float-right pull-right">
                                            <input type="button" value="Clone Invoice" class="btn btn-info btn-sm clone float-right pull-right">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab #details -->

            </div>
        </div>
    </div>
    <script>
        var table;        
        var tbl_record_notes;
        var baseURL = '{{api_url}}';

        var record_delete_url = "{% url 'invoice:delete_invoice' record.id %}";
        var record_clone_url = "{% url 'invoice:clone_invoice' record.id %}";

        var record_bulk_action = "{% url 'invoice:bulk_action' %}";

        var record_id = "{{record.id}}";
    </script>

<script src="{% static 'js/invoice.js' %}"></script>
</main>
{%endblock%}